<ul class="layout-menu">
  <li *ngFor="let item of model">
    <h4>
      <span *ngIf="item.label == 'Home'">
        <i class="pi pi-home"></i>
      </span>
      {{ item.label }}
    </h4>
    <ul class="subtopics">
      <li *ngFor="let subItem of item.items">
        <a href="" class="subtitle">
          <span
            *ngIf="subItem.label == 'Create Complaint'"
            class="icon-wrapper"
          >
            <i class="pi pi-database"></i>
          </span>
          {{ subItem.label }}
        </a>
      </li>
    </ul>
  </li>
</ul>
